@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap');
@import url('../../node_modules/normalize.css/normalize.css');
@import url('./variables.css');

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--typeface-body);
  line-height: var(--leading-normal);
  padding: var(--s-10) 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
[class*="header"] {
  font-family: var(--typeface-header);
}

a {
  display: inline-block;
  color: var(--link-color);
  font-weight: var(--fw-bold);
  text-decoration: none;
  border-bottom: var(--s-1) ridge var(--link-color);
  line-height: var(--leading-4);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--s-4);
}
