@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap');
@import url('../../node_modules/normalize.css/normalize.css');
@import url('./variables.css');

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--typeface-body);
  padding: var(--s-4);
}

h1, h2, h3, h4, h5, h6, [class*="header"] {
  font-family: var(--typeface-header);
}

a {
  color: var(--link-color);
  font-weight: var(--fw-bold);
  text-decoration: none;
  border-bottom: var(--s-1) solid var(--link-color);
  line-height: var(--leading-2);
}